@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    body {
        @apply font-sans antialiased bg-gray-100 text-black;
    }

    main {
        @apply px-4 py-20;
    }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleIn {
  animation: scaleIn 0.3s ease-out forwards;
}
